@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container" style="padding-top: 149px;">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <i></i>
                <h2>سرویس های پیشنهادی</h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, amet reprehenderit soluta, necessitatibus animi dolores voluptate nulla quod ut provident saepe molestiae reiciendis. Sapiente perferendis temporibus facilis eos, delectus voluptatem!</span>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
            <div class="blog_box">
                <div class="blog_img_box">
                    <figure>
                        <img src="images/service1.png" alt="#" />
                        <!-- <span>02 FEB 2019</span> -->
                    </figure>
                </div>
                <h3>ضدعفونی منزل و محل کار</h3>
                <p>لطفا در نظر داشته باشید، که فقط پرداختهای « اعتباری » از طریق استادکار ، قابلیت پیگیری دارد. پرداخت های نقدی و کارت به کارت ، به هیچ وجه قابل پیگیری و پشتیبانی نیست .لطفا پس از زدن دکمه ثبت نهایی، حسابتان را شارژ نمایید. </p>

                کارشناسی این سرویس رایگان است

            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
            <div class="blog_box">
                <div class="blog_img_box">
                    <figure>
                        <img src="images/service1.png" alt="#" />
                        <!-- <span>02 FEB 2019</span> -->
                    </figure>
                </div>
                <h3>ضدعفونی منزل و محل کار</h3>
                <p>لطفا در نظر داشته باشید، که فقط پرداختهای « اعتباری » از طریق استادکار ، قابلیت پیگیری دارد. پرداخت های نقدی و کارت به کارت ، به هیچ وجه قابل پیگیری و پشتیبانی نیست .لطفا پس از زدن دکمه ثبت نهایی، حسابتان را شارژ نمایید. </p>

                کارشناسی این سرویس رایگان است

            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
            <div class="blog_box">
                <div class="blog_img_box">
                    <figure>
                        <img src="images/service1.png" alt="#" />
                        <!-- <span>02 FEB 2019</span> -->
                    </figure>
                </div>
                <h3>ضدعفونی منزل و محل کار</h3>
                <p>لطفا در نظر داشته باشید، که فقط پرداختهای « اعتباری » از طریق استادکار ، قابلیت پیگیری دارد. پرداخت های نقدی و کارت به کارت ، به هیچ وجه قابل پیگیری و پشتیبانی نیست .لطفا پس از زدن دکمه ثبت نهایی، حسابتان را شارژ نمایید. </p>

                کارشناسی این سرویس رایگان است

            </div>
        </div>
    </div>
</div>